:root {
  --first-main-color: #621304;
  --second-main-color: #e18b7a;
  --light-text: #ffffff;
  --light-shadow: #ececec;
}

.day-event-container {
  height: 100vh;
  width: 100vw;
}

/* Set the video as the background */
.day-event-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.day-event-info {
  color: var(--light-text);
  text-transform: uppercase;
  margin-top: 40vh;
  margin-bottom: 10vh;

  display: flex;
  flex-flow: column wrap;
}

.event-title {
  margin: 0;
  align-self: center;
  font-size: 2.5rem;
}

.event-type {
  margin: 0;
  margin-left: 3rem;
  font-size: 1.5rem;
}

.event-dates {
  margin: 0;
  margin-top: 5rem;
  margin-left: 3rem;
  width: 6rem;
}

.tickets-btn {
  border: 0;
  border-radius: 0.3rem;
  margin-top: 0.6rem;
  width: 6rem;
  padding: 1rem;
  background-color: var(--first-main-color);
  color: var(--light-shadow);
  text-transform: uppercase;
  text-align: center;

  align-self: center;
}
