/* TODO: refactor: put the color pallette in one file and import it if possible */
:root {
  --first-main-color: #621304;
  --second-main-color: #e18b7a;
  --light-text: #ffffff;
  --light-shadow: #ececec;
  --dark-shadow: #5c5c5c;

  --title-font: 'Cinzel', serif;
  --article-font: 'Crimson Pro', serif;
  --multipurpose-font: 'Nanum Gothic', sans-serif;
}

.day-events-container {
  height: 100vh;
  width: 100vw;
}

/* Set the video as the background */
.day-event-video {
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.day-event-info {
  color: var(--light-text);
  text-shadow: 1px 1px 1px var(--dark-shadow);
  text-transform: uppercase;
  margin-top: 40vh;
  margin-bottom: 10vh;

  display: flex;
  flex-flow: column wrap;
}

.day-event-title {
  font-family: var(--title-font);
  font-size: 2.5rem;
  margin: 0;

  align-self: center;
}

.day-event-type {
  font-family: var(--article-font);
  font-size: 1.5rem;
  margin: 0;
  margin-left: 3rem;
}

.day-event-dates {
  font-family: var(--article-font);
  margin: 0;
  margin-top: 5rem;
  margin-left: 3rem;
  width: 6rem;
}

.day-tickets-btn {
  background-color: var(--first-main-color);
  color: var(--light-shadow);
  font-family: var(--multipurpose-font);
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.3rem;
  margin-top: 1rem;
  width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  align-self: center;
}
