:root {
  --first-main-color: #621304;
  --second-main-color: #e18b7a;
  --light-text: #ffffff;
  --light-shadow: #ececec;
  --dark-shadow: #5c5c5c;
  --title-color: #000000;

  --title-font: 'Cinzel', serif;
  --article-font: 'Crimson Pro', serif;
  --multipurpose-font: 'Nanum Gothic', sans-serif;
}
.title-news {
  margin: 0;
  display: flex;
}

h2 {
  background-color: var(--title-color);
  color: var(--light-text);
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  width: 270px;
  padding: 0.3rem;
}
.news-section {
  height: 100vh;
}
.news-container {
  font-family: var(--article-font);
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.news-info {
  box-shadow: 0.3rem 0.3rem 0.7rem var(--dark-shadow);
  margin: 1rem;

  display: flex;
  flex-direction: column;
}
.news-image {
  width: 30vw;
  margin: 1rem;
}
.news-title {
  width: 30vw;
  font-size: 0.9rem;
  text-align: -webkit-center;
  align-self: center;
  font-style: italic;
  height: -webkit-fill-available;
  color: var(--first-main-color);
}
.news-date {
  align-self: flex-end;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.button-all-news {
  height: 4rem;
  display: flex;
  justify-content: center;
}

.button-all-news > a {
  background-color: var(--first-main-color);
  color: var(--light-shadow);
  font-family: var(--multipurpose-font);
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.3rem;
  margin-top: 1rem;
  padding: 1rem;
}
