@import '../color&fonts';

.news-section {
  background-image: url(../../images/newspaper.png);
  background-size: cover;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  background-color: $title-background;
  color: $light-text;
  font-family: $title-font;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  width: 20rem;
  padding: 0.3rem;
  margin: 0;
}

.news-container {
  font-family: $article-font;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title-news {
  margin: 0;
  margin-top: 3rem;

  display: flex;
}

.news-info {
  background-color: $light-text;
  box-shadow: 0.3rem 0.3rem 0.7rem $dark-shadow;
  margin: 1rem;
  max-width: 270px;

  display: flex;
  flex-direction: column;
}

.news-image {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}

.news-title {
  color: $first-main-color;
  font-size: 0.9rem;
  font-style: italic;
  text-align: -webkit-center;
  width: 90%;
  height: -webkit-fill-available;

  align-self: center;
}

.news-date {
  font-size: 0.8rem;
  padding-right: 0.5rem;

  align-self: flex-end;
}

.all-news-btn {
  background-color: $first-main-color;
  color: $light-shadow;
  font-family: $multipurpose-font;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  align-self: center;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: 650px) {
  .news-info {
    max-width: 250px;
  }

  .all-news-btn {
    font-size: 1.2rem;
  }

  .title-news {
    margin-bottom: 1rem;
  }
}
