$first-main-color: #621304;
$second-main-color: #b65543;

$title-background: #03481a;

$light-text: #ffffff;
$light-shadow: #ececec;
$dark-shadow: #5c5c5c;
$title-color: #000000;
$placeholder: #b5b5b5;

$border: #d3d3d3;
$alert: #ff0000;

$title-font: 'Cinzel', serif;
$article-font: 'Crimson Pro', serif;
$multipurpose-font: 'Nanum Gothic', sans-serif;
