@import 'color&fonts';

body {
  margin: 0;
}

.body-container {
  display: flex;
  flex-flow: column wrap;
}

.main-container {
  margin-bottom: 3rem;

  flex: 1 1 100vh;
  display: flex;
  flex-flow: column wrap;
}

.page-title {
  background-color: $title-background;
  color: $light-text;
  font-family: $title-font;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  width: 195px;
  padding: 0.3rem;
  margin-top: 3rem;
}

.filter-section {
  display: flex;
  justify-content: space-around;
}

.filter-container {
  display: flex;
  flex: 1 1 50%;
}

.btn-filter {
  background-color: $light-shadow;
  color: $title-background;
  border: 1px solid $dark-shadow;
  font-style: italic;
  padding: 0;
  border-radius: 2rem;
  max-width: 6rem;

  flex: 1 1 10%;
  justify-content: space-around;

  &:hover {
    box-shadow: 1px 1px 3px 2px $dark-shadow;
    cursor: pointer;
  }
}

.search {
  background-color: white;
  border: 1px solid $border;
  border-radius: 1rem;
  height: 2rem;
  padding-left: 0.3rem;
  padding-right: 0.5rem;
  width: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 20%;

  &:hover {
    box-shadow: 1px 1px 3px 2px $dark-shadow;
  }

  input {
    border: 0;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  i:hover {
    cursor: pointer;
  }
}

.date-filter-container {
  font-family: $multipurpose-font;
  margin-top: 1rem;

  display: flex;
  justify-content: center;

  input {
    border: 1px solid $border;
    border-radius: 1rem;
    margin-right: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  button {
    background-color: $light-shadow;
    color: $title-background;
    border: 1px solid $dark-shadow;
    font-style: italic;
    padding: 0;
    width: 4rem;
    border-radius: 1rem;

    &:hover {
      box-shadow: 1px 1px 3px 2px $dark-shadow;
      cursor: pointer;
    }
  }
}

.add-event-btn {
  background-color: $first-main-color;
  color: $light-shadow;
  font-family: $multipurpose-font;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 0.3rem;
  margin-top: 1rem;
  width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  align-self: center;

  &:hover {
    cursor: pointer;
  }
}

.allevents-container {
  width: 100%;
  margin-top: 0;

  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  align-items: center;
}

.single-event-container {
  width: 95%;
  height: 7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;

  display: grid;
  grid-template-areas:
    'img title icon'
    'img dates icon'
    'img description icon';
  grid-template-rows: repeat(7, 1rem);
  grid-template-columns: 30% 60% 5%;
  column-gap: 2%;

  &:hover {
    box-shadow: 1px 1px 3px 2px $light-shadow;
  }

  img {
    width: 100%;
    max-width: 160px;
    max-height: 100px;

    grid-area: img;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  h2 {
    font-family: $title-font;
    margin: 0;
    font-size: 1rem;

    grid-area: title;
    grid-row-start: 2;
  }
}

.btn-icon {
  background: none;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 0;

  *:hover {
    color: $alert;
    cursor: pointer;
  }
}

.edit-icon {
  grid-area: icon;
  grid-row: 3;
}

.trash-icon {
  grid-area: icon;
  grid-row: 5;
}

.event-title {
  overflow: hidden;
}

.event-dates {
  font-family: $article-font;
  margin: 0;
  overflow: hidden;

  grid-area: dates;
  grid-row: 4;
}

.event-desc {
  font-family: $article-font;
  margin: 0;
  overflow: hidden;

  grid-area: description;
  grid-row: 5;
}

@media (min-width: 800px) {
  .allevents-container {
    max-width: 50%;
    margin: auto;
    margin-top: 3rem;
  }

  .filter-section {
    width: 80%;
    margin: 0 auto;
  }

  .btn-filter {
    margin-left: 1rem;
  }

  .search {
    margin-right: 1rem;
  }
}
