:root {
  --first-main-color: #621304;
  --second-main-color: #e18b7a;
  --light-text: #ffffff;
  --light-shadow: #ececec;
  --dark-shadow: #5c5c5c;
  --title-color: #000000;
  --border: #d3d3d3;
  --alert: #ff0000;

  --title-font: 'Cinzel', serif;
  --article-font: 'Crimson Pro', serif;
  --multipurpose-font: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
}

.main-container {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
}

.page-title {
  background-color: var(--title-color);
  color: var(--light-text);
  font-family: var(--title-font);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  width: 195px;
  padding: 0.3rem;
  margin-top: 3rem;
}

.add-event-btn {
  background-color: var(--first-main-color);
  color: var(--light-shadow);
  font-family: var(--multipurpose-font);
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 0.3rem;
  margin-top: 1rem;
  width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  align-self: center;
}

.allevents-container {
  width: 100vw;

  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  align-items: center;
}

.single-event-container {
  width: 95%;
  height: 7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;

  display: grid;
  grid-template-areas:
    'img title icon'
    'img description icon';
  grid-template-rows: repeat(7, 1rem);
  grid-template-columns: 30% 60% 5%;
  column-gap: 2%;
}

.single-event-container:hover {
  box-shadow: 1px 1px 3px 2px var(--light-shadow);
}

.single-event-container > img {
  width: 100%;

  grid-area: img;
  grid-column-start: 1;
  grid-row-start: 2;
}

.single-event-container > h2 {
  font-family: var(--title-font);
  grid-area: title;
  grid-row-start: 2;

  margin: 0;
  font-size: 1rem;
}

.edit-icon {
  grid-area: icon;
  grid-row: 3;
}

.trash-icon {
  grid-area: icon;
  grid-row: 5;
}

.btn-icon {
  background: none;
  text-align: center;
  border: 0;
  padding: 0;
}

.btn-icon:hover {
  color: var(--alert);
}

.single-event-container .event-desc {
  font-family: var(--article-font);
  grid-area: description;
  grid-row: 4;

  margin: 0;
  overflow: hidden;
}

.single-event-container .event-dates {
  font-family: var(--article-font);
  grid-area: description;
  grid-row: 5;

  margin: 0;
  overflow: hidden;
}
