:root {
  --first-main-color: #621304;
  --second-main-color: #b65543;

  --title-background: #03481a;

  --light-text: #ffffff;
  --light-shadow: #ececec;
  --dark-shadow: #5c5c5c;
  --title-color: #000000;
  --border: #d3d3d3;
  --alert: #ff0000;

  --title-font: 'Cinzel', serif;
  --article-font: 'Crimson Pro', serif;
  --multipurpose-font: 'Nanum Gothic', sans-serif;
}

body {
  margin: auto 0;
  background-color: var(--first-main-color);
}
main {
  display: flex;
  justify-content: center;
}
.main-container {
  background-color: var(--light-shadow);
  color: var(--first-main-color);
  font-family: var(--multipurpose-font);
  width: 80vw;
  height: 80vh;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.logo {
  width: 12rem;
  margin-bottom: 3rem;
}
.login-container {
  display: flex;
  width: 80vw;
  justify-content: space-around;
}
.register-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.btn-register {
  background-color: var(--title-background);
  color: var(--light-shadow);
  font-family: var(--multipurpose-font);
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 0.3rem;
  margin-top: 1rem;
  width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-self: center;
}
.info-register {
  margin: 3rem;
}

.logged-user {
  width: 50%;
  border-left: 1px solid;
  display: flex;
  justify-content: center;
}

.login-title {
  display: flex;
  justify-content: space-around;
}
.fa-sign-in-alt {
  font-size: 2rem;
  color: var(--first-main-color);
  align-self: center;
}

.login-inputs {
  margin: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.btn-login {
  background-color: var(--first-main-color);
  color: var(--light-shadow);
  font-family: var(--multipurpose-font);
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 0.3rem;
  margin-top: 1rem;
  width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-self: center;
  margin-left: 3rem;
}

@media (max-width: 650px) {
  main {
    margin-top: 2rem;
  }
  .main-container {
    margin: 0;
  }
  .logo {
    width: 8rem;
  }
  .login-container {
    width: 90vw;
    font-size: 0.8rem;
  }
  .register-user {
    margin: 0.5rem;
  }

  .info-register {
    margin: 1.5rem;
  }

  .login-title {
    flex-direction: column;
  }

  .sign-in-title {
    margin-top: 3rem;
    align-self: center;
  }

  .login-inputs {
    margin: 2rem 0rem 2rem 0rem;
    font-size: 1rem;
  }
  .label-input {
    margin-left: 0.8rem;
  }
  .email-login,
  .pass-login {
    width: 80%;
  }

  .btn-login {
    margin-left: 1.5rem;
  }
}
