@import 'color&fonts';

.form-window {
  background-color: white;
  font-family: $multipurpose-font;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  border-radius: 9px;
  padding: 0.5rem 0.6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
}

.btn--close-modal {
  background: none;
  position: absolute;
  font-family: inherit;
  color: inherit;
  top: 0.5rem;
  right: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.upload {
  display: grid;
  grid-template-columns: 1fr 2.8fr;
  align-items: center;
  gap: 0.5rem;

  label {
    color: inherit;
    font-size: 1rem;
    font-weight: 600;
  }

  input {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid $border;
    border-radius: 2rem;
    transition: all 0.2s;
    width: 90%;

    &::placeholder {
      color: $placeholder;
    }

    &:focus {
      box-shadow: 1px 1px 3px 2px $light-shadow;
      outline: none;
    }
  }

  button {
    margin-top: 1rem;

    grid-column: 1 / span 2;
    justify-self: center;
  }
}

.upload__heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;

  grid-column: 1/-1;
}

.upload__btn,
.edit__btn {
  background-color: $first-main-color;
  color: $light-shadow;
  text-transform: uppercase;
  text-align: center;
  width: 8rem;
  border: 0;
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  grid-column: 1 / -1;
  justify-self: center;
}

.btn-hidden {
  display: none;
}

.upload__btn:hover,
.edit__btn:hover {
  cursor: pointer;
}

@media (min-width: 650px) {
  .upload {
    height: 50vh;
    justify-items: center;
  }

  .upload label {
    font-size: 1.3rem;
  }

  .upload input {
    font-size: 1.3rem;
  }

  .upload__btn,
  .edit__btn {
    font-size: 1.3rem;
    width: 9rem;
  }
}
