:root {
  --first-main-color: #621304;
  --second-main-color: #e18b7a;
  --light-text: #ffffff;
  --light-shadow: #ececec;
  --dark-shadow: #5c5c5c;
  --title-color: #000000;

  --title-font: 'Cinzel', serif;
  --article-font: 'Crimson Pro', serif;
  --multipurpose-font: 'Nanum Gothic', sans-serif;
}

.body-container h1 {
  background-color: var(--title-color);
  color: var(--light-text);
  font-family: var(--title-font);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  width: 195px;
  padding: 0.3rem;
  margin-top: 3rem;
}

.all-news-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.news-info {
  display: flex;
  flex-direction: column;
  box-shadow: 0.3rem 0.3rem 0.7rem var(--dark-shadow);
  margin-top: 1rem;
}
/* .news-info:hover {
  position: absolute;
  transform: scale(1.2);
  background-color: var(--first-main-color);
  color: var(--light-text);
} */

.news-image {
  width: 30vw;
  margin: 1rem;
}

.news-title {
  font-family: var(--title-font);
  font-size: 0.8rem;
  font-style: italic;
  text-align: -webkit-center;
  height: -webkit-fill-available;
  width: 30vw;

  align-self: center;
}
.news-content {
  font-family: var(--article-font);
  font-size: 0.6rem;
  width: 30vw;

  align-self: center;
}

.news-date {
  font-family: var(--article-font);
  font-size: 0.7rem;
  padding-right: 0.5rem;

  align-self: flex-end;
}
