:root {
  --first-main-color: #621304;
  --second-main-color: #b65543;

  --title-background: #03481a;

  --light-text: #ffffff;
  --light-shadow: #ececec;
  --dark-shadow: #5c5c5c;
  --title-color: #000000;
  --border: #d3d3d3;
  --alert: #ff0000;

  --title-font: 'Cinzel', serif;
  --article-font: 'Crimson Pro', serif;
  --multipurpose-font: 'Nanum Gothic', sans-serif;
}

body {
  margin: auto 0;
}

main {
  background-color: var(--light-shadow);
  width: 100vw;
}

.main-container {
  color: var(--first-main-color);
  font-family: var(--multipurpose-font);

  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  background-color: var(--first-main-color);
}

.logo {
  width: 9rem;
  margin: 1rem;
}

.signup-container {
  border: var(--first-main-color) 2px solid;
  border-radius: 2rem;
  width: 80vw;

  display: flex;
  justify-content: center;
  align-self: center;
}

.signup-form {
  width: 100vw;
  margin-top: 5rem;
  margin-bottom: 5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signup-title {
  font-family: var(--title-font);
  font-size: 1.5rem;
  width: 80vw;
  margin-right: 2rem;

  display: flex;
  align-self: center;
}

.fa-user-plus {
  margin-left: 2rem;

  align-self: center;
}

.signup-input {
  margin: 1rem;

  display: flex;
  flex-direction: column;
  
}

.label-input {
  font-weight: bold;
}

input {
  border: var(--first-main-color) 1px solid;
  border-radius: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  width: 20vw;
  height: 1.5rem;
}

input:focus {
  outline: none;
}

.input-container {
  border: var(--first-main-color) 1px solid;
  border-radius: 2rem;
  background-color: var(--light-text);
  margin-top: 1rem;

  display: flex;
}

.signup-pass,
.signup-pass-rpt {
  width: 18vw;
  margin: 0;
  border: 0;
}

.fa-eye {
  padding-right: 1rem;
  cursor: pointer;

  align-self: center;
}

.alert-container{
  margin: 0;
  padding: 0;
}

.alert {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--alert);
  font-family: var(--multipurpose-font);
  font-size: 0.7rem;
}

.btn-signup {
  background-color: var(--first-main-color);
  color: var(--light-shadow);
  font-family: var(--multipurpose-font);
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 0.3rem;
  width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;

  align-self: center;
}

@media (max-width: 650px) {
  .logo {
    margin: 0.5rem;
  }

  .signup-title {
    font-size: 1rem;
  }

  .signup-form {
    margin: 1rem;

    display: flex;
    flex-direction: column;
  }

  .signup-input {
    margin: 0;
  }

  input {
    margin: 0rem 0rem 1rem 0rem;
    width: 65vw;
  }

  .input-container {
    margin: 0rem 0rem 1rem 0rem;
    width: 94%;
  }

  .signup-pass,
  .signup-pass-rpt {
    margin: 0;
    border: 0;
    width: 60vw;
  }

  .btn-signup {
    margin-top: 1rem;
  }
}
